In [71]:
import pandas as pd

df = pd.read_csv("./cleaning_data/data_vancouver.csv",encoding = "ISO-8859-1")
df.columns
df.head()
# remove useless columns (only the first 15 columns are useful)

,address,price,bedrooms,bath,lot_size,property_age,gross_tax_for_2020,area,Sub-Area/Community,Property_Type,...,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28
0,232 2565 W Broadway Avenue,"$1,065,000",2.0,3.0,Built in 1995 (25 yrs old),"$2,823",$481,Vancouver West,Kitsilano,Townhouse,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,203 2160 Cornwall Avenue,"$948,000",2.0,2.0,Built in 1992 (28 yrs old),"$2,402",$508,Vancouver West,Kitsilano,Apt/Condo,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2781 W 15th Avenue,"$2,470,000",4.0,3.0,4026 ft²,Built in 1929 (91 yrs old),"$7,109",Vancouver West,Kitsilano,House,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2289 W 12th Avenue,"$1,299,000",2.0,2.0,Built in 1998 (22 yrs old),"$2,879",$517,Vancouver West,Kitsilano,Townhouse,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1768 Cypress Street,"$2,190,000",3.0,3.0,Built in 2022 (-2 yrs old),$999,$545,Vancouver West,Kitsilano,Townhouse,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [85]:

# drop the columns that contains Unamed
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
df.head()

,address,price,bedrooms,bath,lot_size,property_age,gross_tax_for_2020,area,Sub-Area/Community,Property_Type,title,style,heating_type,Depth,frontage
0,232 2565 W Broadway Avenue,"$1,065,000",2.0,3.0,Built in 1995 (25 yrs old),"$2,823",$481,Vancouver West,Kitsilano,Townhouse,Freehold Strata,Inside Unit,R2504537,Michael Uy PREC*,Oakwyn Realty Ltd.
1,203 2160 Cornwall Avenue,"$948,000",2.0,2.0,Built in 1992 (28 yrs old),"$2,402",$508,Vancouver West,Kitsilano,Apt/Condo,Freehold Strata,End Unit,R2500456,Rod MacKay,"Maude, Mackay & Co. Ltd."
2,2781 W 15th Avenue,"$2,470,000",4.0,3.0,4026 ft²,Built in 1929 (91 yrs old),"$7,109",Vancouver West,Kitsilano,House,Freehold NonStrata,1 Storey,33.00 feet,R2497832,Ken Cui PREC*
3,2289 W 12th Avenue,"$1,299,000",2.0,2.0,Built in 1998 (22 yrs old),"$2,879",$517,Vancouver West,Kitsilano,Townhouse,Freehold Strata,"2 Storey,Ground Level Unit",R2497024,Lotus Yuen PREC*,RE/MAX Crest Realty
4,1768 Cypress Street,"$2,190,000",3.0,3.0,Built in 2022 (-2 yrs old),$999,$545,Vancouver West,Kitsilano,Townhouse,Freehold Strata,3 Storey,Heat Recovery Ventilator,R2496199,Ken Chong PREC*

In [83]:
# return the columns that equal to Na
df[df['property_age'].isna()]

,address,price,bedrooms,bath,lot_size,property_age,gross_tax_for_2020,area,Sub-Area/Community,Property_Type,...,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28
221,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
264,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [86]:
#describe
df.describe()

          bedrooms         bath
count  1158.000000  1158.000000
mean      3.417962     2.979275
std       2.084993     1.894244
min       0.000000     0.000000
25%       2.000000     2.000000
50%       3.000000     2.000000
75%       5.000000     4.000000
max      14.000000    12.000000

In [94]:
# drop all rows that contain NA
df = df.dropna()

In [113]:
# filter rows that are house only
df = df[df['Property_Type'].str.contains("House")]
df

,address,price,bedrooms,bath,lot_size,property_age,gross_tax_for_2020,area,Sub-Area/Community,Property_Type,title,style,heating_type,Depth,frontage
2,2781 W 15th Avenue,"$2,470,000",4.0,3.0,4026 ft²,Built in 1929 (91 yrs old),"$7,109",Vancouver West,Kitsilano,House,Freehold NonStrata,1 Storey,33.00 feet,R2497832,Ken Cui PREC*
6,2070 W 14th Avenue,"$3,788,000",8.0,4.0,50 ft x 125 ft (6250 ft²),Built in 1922 (98 yrs old),"$10,423",Vancouver West,Kitsilano,House,Freehold NonStrata,Reverse 2 Storey w/Bsmt,125,50.00 feet,R2493457
7,2917 W 20th Avenue,"$4,288,000",5.0,5.0,42 ft x 122 ft (5129 ft²),Built in 2013 (7 yrs old),"$12,652",Vancouver West,Arbutus,House,Freehold NonStrata,2 Storey w/Bsmt.,Heat Recovery Ventilator,122.12,42.00 feet
8,2688 W 19th Avenue,"$3,800,000",6.0,6.0,52 ft x 120 ft (6240 ft²),Built in 1987 (33 yrs old),"$11,176",Vancouver West,Arbutus,House,Freehold NonStrata,2 Storey,120,52.00 feet,R2520899
9,3008 W 21st Avenue,"$2,780,000",2.0,1.0,33 ft x 122 ft (4026 ft²),Built in 1941 (79 yrs old),"$7,278",Vancouver West,Arbutus,House,Freehold NonStrata,1 Storey,122,33.00 feet,R2518002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1127,4140 Gladstone Street,"$3,288,000",10.0,7.0,50 ft x 139 ft (6994 ft²),Built in 2020 (0 yrs old),"$7,243",Vancouver East,Victoria East,House,Freehold NonStrata,2 Storey w/Bsmt.,139.87,50.00 feet,R2520968
1128,1896 E 40th Avenue,"$1,780,000",6.0,6.0,33 ft x 137 ft (4512 ft²),Built in 1961 (59 yrs old),"$5,553",Vancouver East,Victoria East,House,Freehold NonStrata,2 Storey,137,33.00 feet,R2517069
1134,1635 E 21st Avenue,"$3,199,800",4.0,3.0,49 ft x 122 ft (6039 ft²),Built in 1923 (97 yrs old),"$6,431",Vancouver East,Victoria East,House,Freehold NonStrata,3 Storey,122,49.50 feet,R2513481
1138,1885 E 35th Avenue,"$2,838,000",10.0,8.0,36 ft x 127 ft (4594 ft²),Built in 2016 (4 yrs old),"$6,125",Vancouver East,Victoria East,House,Freehold NonStrata,"2 Storey w/Bsmt.,Laneway House",127.61,36.00 feet,R2484823
1146,4665 Baldwin Street,"$1,698,000",5.0,2.0,62 ft x 118 ft (4837 ft²),Built in 1967 (53 yrs old),"$5,105",Vancouver East,Victoria East,House,Freehold NonStrata,2 Storey,118,62.00 feet,R2440227