In [59]:
import pandas as pd

df = pd.read_csv("./cleaned_data/cleaned_vancouver.csv",encoding = "ISO-8859-1")
df.head(3)

,address,price,bedrooms,bath,lot_size,property_age,gross_tax_for_2020,area,Sub-Area/Community,Property_Type,title,style,heating_type,Depth,frontage
0,2070 W 14th Avenue,378800,8.0,4.0,6250,98,10423,Vancouver West,Kitsilano,House,Freehold NonStrata,Reverse 2 Storey w/Bsmt,125,50.00 feet,R2493457
1,2917 W 20th Avenue,428800,5.0,5.0,5129,7,12652,Vancouver West,Arbutus,House,Freehold NonStrata,2 Storey w/Bsmt.,Heat Recovery Ventilator,122.12,42.00 feet
2,2688 W 19th Avenue,380000,6.0,6.0,6240,33,11176,Vancouver West,Arbutus,House,Freehold NonStrata,2 Storey,120,52.00 feet,R2520899

In [60]:
# dummies variable 
dummies = pd.get_dummies(df['Sub-Area/Community'])
dummies.head(3)

,Arbutus,Cambie,Collingwood,Dunbar,Fairview,Fraser East,Fraserview East,Grandview East,Hastings,Hastings Sunrise,...,Point Grey,Quilchena,Renfrew,Renfrew Heights,Shaughnessy,South Cambie,South Vancouver,Southlands,Southwest Marine,Victoria East
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [61]:

merged = pd.concat([df, dummies], axis='columns')
merged.head(3)

,address,price,bedrooms,bath,lot_size,property_age,gross_tax_for_2020,area,Sub-Area/Community,Property_Type,...,Point Grey,Quilchena,Renfrew,Renfrew Heights,Shaughnessy,South Cambie,South Vancouver,Southlands,Southwest Marine,Victoria East
0,2070 W 14th Avenue,378800,8.0,4.0,6250,98,10423,Vancouver West,Kitsilano,House,...,0,0,0,0,0,0,0,0,0,0
1,2917 W 20th Avenue,428800,5.0,5.0,5129,7,12652,Vancouver West,Arbutus,House,...,0,0,0,0,0,0,0,0,0,0
2,2688 W 19th Avenue,380000,6.0,6.0,6240,33,11176,Vancouver West,Arbutus,House,...,0,0,0,0,0,0,0,0,0,0

In [62]:
# drop a column from the dummy variables to avoid the dummy variable trap
final = merged.drop(['Sub-Area/Community','Southlands'],axis='columns')
final.head(3)

,address,price,bedrooms,bath,lot_size,property_age,gross_tax_for_2020,area,Property_Type,title,...,Oakridge,Point Grey,Quilchena,Renfrew,Renfrew Heights,Shaughnessy,South Cambie,South Vancouver,Southwest Marine,Victoria East
0,2070 W 14th Avenue,378800,8.0,4.0,6250,98,10423,Vancouver West,House,Freehold NonStrata,...,0,0,0,0,0,0,0,0,0,0
1,2917 W 20th Avenue,428800,5.0,5.0,5129,7,12652,Vancouver West,House,Freehold NonStrata,...,0,0,0,0,0,0,0,0,0,0
2,2688 W 19th Avenue,380000,6.0,6.0,6240,33,11176,Vancouver West,House,Freehold NonStrata,...,0,0,0,0,0,0,0,0,0,0

In [63]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [64]:
# drop unecessary columns
final = final.drop(['address','area','Property_Type', 'title', 'style','heating_type', 'Depth', 'frontage'],axis='columns')

In [65]:
X = final.drop('price', axis='columns')
X.head(3)

,bedrooms,bath,lot_size,property_age,gross_tax_for_2020,Arbutus,Cambie,Collingwood,Dunbar,Fairview,...,Oakridge,Point Grey,Quilchena,Renfrew,Renfrew Heights,Shaughnessy,South Cambie,South Vancouver,Southwest Marine,Victoria East
0,8.0,4.0,6250,98,10423,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,5.0,5.0,5129,7,12652,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,6.0,6.0,6240,33,11176,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [66]:
y = final.price
y.head(3)

0    378800
1    428800
2    380000
Name: price, dtype: int64

In [67]:
# create a model
model.fit(X,y)

LinearRegression()

In [68]:
model.score(X,y)

0.7676618139714617

In [69]:
# one hot encoder method

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [70]:
# transform Community column with label encoded method

dfle = df

# drop unnecessary columns
dfle = dfle.drop(['address','area','Property_Type', 'title', 'style','heating_type', 'Depth', 'frontage'],axis='columns')

# label encode Coummnity column
dfle['Sub-Area/Community'] = le.fit_transform(dfle['Sub-Area/Community'])
dfle.head()

,price,bedrooms,bath,lot_size,property_age,gross_tax_for_2020,Sub-Area/Community
0,378800,8.0,4.0,6250,98,10423,12
1,428800,5.0,5.0,5129,7,12652,0
2,380000,6.0,6.0,6240,33,11176,0
3,278000,2.0,1.0,4026,79,7278,0
4,338000,5.0,4.0,4882,27,9251,0

In [77]:
X = dfle.drop(['price'],axis='columns')
X = X.values
X

array([[8.0000e+00, 4.0000e+00, 6.2500e+03, 9.8000e+01, 1.0423e+04,
        1.2000e+01],
       [5.0000e+00, 5.0000e+00, 5.1290e+03, 7.0000e+00, 1.2652e+04,
        0.0000e+00],
       [6.0000e+00, 6.0000e+00, 6.2400e+03, 3.3000e+01, 1.1176e+04,
        0.0000e+00],
       ...,
       [4.0000e+00, 3.0000e+00, 6.0390e+03, 9.7000e+01, 6.4310e+03,
        2.7000e+01],
       [1.0000e+01, 8.0000e+00, 4.5940e+03, 4.0000e+00, 6.1250e+03,
        2.7000e+01],
       [5.0000e+00, 2.0000e+00, 4.8370e+03, 5.3000e+01, 5.1050e+03,
        2.7000e+01]])

In [81]:
y = dfle.price.values
y

array([ 378800,  428800,  380000,  278000,  338000,  568000,  538000,
        199800,  435000,  259800,  369800,  465000,  278800,  335000,
        259900,  228900,  556800,  390000,  439800,  498000,  438800,
        274800,  438000,  274000,  308000,  439800,  398800,  368000,
        468800,  438800,  428800,  276000,  698000,  258000,  439800,
        380000,  678000,  998000,  998000,  268000,  398000,  398000,
        538000,  356000,  353800,  598000,  378000,  378000,  338800,
        285000,  359000,  439800,  389000,  389900,  388000,  288800,
        330000,  208800,  500000,  328800,  980000,  599000,  450000,
        450000,  295000,  268900,  278900,  320000,  538800,  388800,
        359000,  840000,  399800,  528000,  840000,  488800,  338800,
        328800,  338800,  739900, 1198800,  288000,  415000,  255000,
        688000,  428800,  418000,  388000,  388000,  458000,  588000,
       1388000,  299800,  348000,  429800,  488000, 1050000, 1198000,
        249800,  365000,  469800,  298000,  398800,  289900,  398800,
        378000,  299999,  418800,  338800,  288800,  438990,  298000,
        399800,  298000,  549800,  580000,  868000,  238800,  299900,
        688000,  383800,  349900,  398000,  318900,  468000,  498800,
        368800,  229900,  525000,  488000,  338000,  699000,  598000,
        599000,  599000,  458000,  500000,  598000,  638800,  468000,
        299000,  569100,  538000,  419000,  699000, 1188000, 2388000,
        468800,  565000,  968800,  428900,  389800, 1289000,  588000,
        698000, 1399800,  789000, 1388800, 1099000,  538000, 1093000,
        578800,  988800,  999000,  368800, 1288000,  588000,  998000,
        510000, 3580000, 1198000,  435000, 1088000,  538000,  788000,
        488000, 1899900,  418000,  528800,  278900, 1380000,  388000,
        316000,  540000,  378000,  598000,  439800,  265000,  429000,
        388800,  598000,  346000,  575000,  274800,  274800,  438000,
        438000, 1288000,  299000,  209900,  388000,  188000,  245000,
        328000,  274800,  277680,  273800,  998000,  888000,  698000,
        220000,  155900,  199800,  155900,  300000,  185000,  158000,
        139900,  158000,  149900,  190000,  196800,  184999,  228800,
        149900,  149900,  279800,  299900,  154900,  249990,  154800,
        155000,  229800,  288888,  185900,  238800,  148800,  118000,
        149800,  198000,  234900,  169900,  179900,  244900,  258800,
        165000,  366200,  174900,  185000,  238800,  298800,  279900,
        288000,  179999,  179999,  179999,  264900,  197800,  249900,
        157700,  169990,  189990,  189990,  139800,  399999,  169900,
        159900,  319900,  230000,  232000,  230000,  199990,  225000,
        189900,  300000,  169800,  188800,   92800,  178800,  239900,
        239900,  179800,  129800,  169800,  126000,  128000,  250000,
        178000,  158000,  168800,  149900,  174580,  144800,  239900,
        133800,  170000,  209900,  210000,  279800,  172000,  179000,
        218000,  172000,  188000,  245000,  245000,  239800,  134900,
        134900,  239800,  185000,  135000,  179800,  159900,  177500,
        180000,  180000,  238880,  119988,  178800,  219900,  219900,
        169900,  135000,  135000,  159800,  229800,  229800,  269990,
        259800,  239800,  169900,  236800,  236800,  328000,  235000,
        159900,  290000,  164900,  386000,  269900,  250000,  189800,
        149900,  149980,  144900,  139990,  158000,  243880,  166800,
        132500,  199800,  199999,  199999,  199999,  199999,  176800,
        134900,  198000,  240000,  159900,  189900,  139900,  155000,
        269000,  118000,  156000,  300000,  140000,  167900,  157500,
        270000,  260000,  260000,  259900,  260000,  250000,  250000,
        239900,  159900,  178888,  174999,  188880,  178880,  166800,
        169800,  189900,  189900,  229800,  270000,  288800,  228800,
        279800,  158900,  288800,  300000,  288800,  288800,  138800,
        248000,  214800,  228800,  168388,  158000,  178800,  149900,
        164800,  154999,  238800,  158888,  248800,  239800,  169800,
        159888,  290000,  220000,  220000,  220000,  184990,  179988,
        179800,  320000,  159800,  144900,  200000,  149888,  178000,
        328800,  178000,  319980,  283800,  169800], dtype=int64)

In [90]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
ct = ColumnTransformer([('Sub-Area/Community', OneHotEncoder(), [0])], remainder = 'passthrough')

In [91]:
X = ct.fit_transform(X)
X

array([[0.0000e+00, 0.0000e+00, 0.0000e+00, ..., 9.8000e+01, 1.0423e+04,
        1.2000e+01],
       [0.0000e+00, 0.0000e+00, 0.0000e+00, ..., 7.0000e+00, 1.2652e+04,
        0.0000e+00],
       [0.0000e+00, 0.0000e+00, 0.0000e+00, ..., 3.3000e+01, 1.1176e+04,
        0.0000e+00],
       ...,
       [0.0000e+00, 0.0000e+00, 0.0000e+00, ..., 9.7000e+01, 6.4310e+03,
        2.7000e+01],
       [0.0000e+00, 0.0000e+00, 0.0000e+00, ..., 4.0000e+00, 6.1250e+03,
        2.7000e+01],
       [0.0000e+00, 0.0000e+00, 0.0000e+00, ..., 5.3000e+01, 5.1050e+03,
        2.7000e+01]])

In [93]:
X = X[:,1:]
X

array([[0.0000e+00, 0.0000e+00, 0.0000e+00, ..., 9.8000e+01, 1.0423e+04,
        1.2000e+01],
       [0.0000e+00, 0.0000e+00, 0.0000e+00, ..., 7.0000e+00, 1.2652e+04,
        0.0000e+00],
       [0.0000e+00, 0.0000e+00, 0.0000e+00, ..., 3.3000e+01, 1.1176e+04,
        0.0000e+00],
       ...,
       [0.0000e+00, 0.0000e+00, 1.0000e+00, ..., 9.7000e+01, 6.4310e+03,
        2.7000e+01],
       [0.0000e+00, 0.0000e+00, 0.0000e+00, ..., 4.0000e+00, 6.1250e+03,
        2.7000e+01],
       [0.0000e+00, 0.0000e+00, 0.0000e+00, ..., 5.3000e+01, 5.1050e+03,
        2.7000e+01]])

In [94]:
model.fit(X,y)

LinearRegression()

In [95]:
model.score(X,y)

0.7601365448946674